body{
    background-color:palevioletred;
    font-family:sans-serif;
    font: italic;
    font-weight: 800;
    

}
button{
    shape-outside: content-box;
    border-color:blue;
    margin: unset;
    font: bold;
    font-weight: 300;

}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }